In [1]:
import pandas as pd
import numpy as np
import sklearn
from keras.optimizers import SGD, RMSprop, Adadelta, Adagrad, Adam, Adamax
from keras.models import Sequential
from keras.layers.core import Dense, Activation, Flatten
import keras
from sklearn.model_selection import train_test_split
from keras.utils import to_categorical

In [2]:
df=pd.read_csv('Mydata5.csv')
df.head()

,Unnamed: 0,year,month,day,hour,ID,Severity,Start_Lat,Start_Lng,Street,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,0,2016.0,2.0,8.0,0.0,0,3,40.10891,-83.09286,138865,...,0,0,0,0,0,0,1,1,1,1
1,1,2016.0,2.0,8.0,15.0,1,2,40.10931,-82.96849,138870,...,0,0,0,0,0,0,0,0,0,0
2,2,2016.0,3.0,23.0,7.0,2,2,37.71981,-121.65943,127201,...,0,0,0,0,0,0,1,0,0,0
3,3,2016.0,5.0,26.0,10.0,3,2,33.07353,-117.07029,118205,...,0,0,0,0,1,0,0,0,0,0
4,4,2016.0,5.0,20.0,16.0,4,2,40.10954,-75.29485,139706,...,0,0,0,0,0,0,0,0,0,0

In [3]:
df.columns

Index(['Unnamed: 0', 'year', 'month', 'day', 'hour', 'ID', 'Severity',
       'Start_Lat', 'Start_Lng', 'Street', 'Side', 'City', 'County', 'State',
       'Zipcode', 'Country', 'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)',
       'Pressure(in)', 'Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)',
       'Precipitation(in)', 'Weather_Condition', 'Amenity', 'Bump', 'Crossing',
       'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station',
       'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop',
       'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [4]:
data=df[['Astronomical_Twilight', 'Civil_Twilight', 'Humidity(%)', 'Nautical_Twilight', 'Precipitation(in)', 'Pressure(in)', 'Sunrise_Sunset', 'Temperature(F)', 'Visibility(mi)', 'Weather_Condition', 'Wind_Chill(F)', 'Wind_Direction', 'Wind_Speed(mph)', 'Severity']].values

In [5]:
x=data[:, 0: 13]
y=data[:, 13]

In [6]:
xtrain, xtest, ytrain, ytest=train_test_split(x, y, test_size=.2)

In [7]:
ytrain = to_categorical(ytrain.astype('float32'))

In [8]:
model = Sequential()
model.add(Dense(25, input_dim=13, activation= "sigmoid"))
model.add(Dense(50, activation= "sigmoid"))
model.add(Dense(5, activation="sigmoid"))
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 25)                350

 dense_1 (Dense)             (None, 50)                1300

 dense_2 (Dense)             (None, 5)                 255

=================================================================
Total params: 1,905
Trainable params: 1,905
Non-trainable params: 0
_________________________________________________________________

In [9]:
opt = SGD()
model.compile(loss='categorical_crossentropy', optimizer=opt,  metrics=['accuracy'])

In [11]:
model.fit(xtrain, ytrain, epochs=10, batch_size=32)

Epoch 1/10
68875/68875 [==============================] - 78s 1ms/step - loss: 0.4216 - accuracy: 0.8903
Epoch 2/10
68875/68875 [==============================] - 87s 1ms/step - loss: 0.4118 - accuracy: 0.8904
Epoch 3/10
68875/68875 [==============================] - 84s 1ms/step - loss: 0.4093 - accuracy: 0.8904
Epoch 4/10
68875/68875 [==============================] - 74s 1ms/step - loss: 0.4081 - accuracy: 0.8904
Epoch 5/10
68875/68875 [==============================] - 75s 1ms/step - loss: 0.4068 - accuracy: 0.8904
Epoch 6/10
68875/68875 [==============================] - 82s 1ms/step - loss: 0.4055 - accuracy: 0.8904
Epoch 7/10
68875/68875 [==============================] - 102s 1ms/step - loss: 0.4044 - accuracy: 0.8904
Epoch 8/10
68875/68875 [==============================] - 89s 1ms/step - loss: 0.4036 - accuracy: 0.8904
Epoch 9/10
68875/68875 [==============================] - 97s 1ms/step - loss: 0.4030 - accuracy: 0.8904
Epoch 10/10
68875/68875 [==============================] - 93s 1ms/step - loss: 0.4026 - accuracy: 0.8904

In [12]:
model.save("train2.model")

INFO:tensorflow:Assets written to: train2.model\assets

In [13]:
ytest = to_categorical(ytest.astype('float32'))

In [14]:
score, acc = model.evaluate(xtest, ytest)

17219/17219 [==============================] - 14s 818us/step - loss: 0.4044 - accuracy: 0.8906

In [16]:
print(acc*100)

89.0568494796753

In [17]:
d=df[['Astronomical_Twilight', 'Civil_Twilight', 'Humidity(%)', 'Nautical_Twilight', 'Precipitation(in)', 'Pressure(in)', 'Sunrise_Sunset', 'Temperature(F)', 'Visibility(mi)', 'Weather_Condition', 'Wind_Chill(F)', 'Wind_Direction', 'Wind_Speed(mph)', 'Severity']]

In [18]:
d.head()

,Astronomical_Twilight,Civil_Twilight,Humidity(%),Nautical_Twilight,Precipitation(in),Pressure(in),Sunrise_Sunset,Temperature(F),Visibility(mi),Weather_Condition,Wind_Chill(F),Wind_Direction,Wind_Speed(mph),Severity
0,1,1,58.0,1,0.00,29.76,1,42.1,10.0,55,36.100000,16,10.400000,3
1,0,0,100.0,0,0.05,29.59,0,32.0,0.5,101,28.700000,23,3.500000,2
2,0,0,93.0,0,0.00,30.27,1,39.0,10.0,6,40.254676,1,8.438017,2
3,0,0,72.0,0,0.00,30.06,0,63.0,10.0,78,50.760306,15,5.800000,2
4,0,0,33.0,0,0.00,30.19,0,71.6,10.0,6,36.527667,1,10.660172,2

In [19]:
predx=np.array([[1, 0, 56.0, 0, 0.03, 30.09, 0, 90.78, 7.0, 7, 23.90, 7, 8.9]])

In [20]:
ypred=model.predict(predx).reshape(-1)

1/1 [==============================] - 0s 85ms/step

In [21]:
print("class : ", np.argmax(ypred))

class :  2